<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Intergalactic Unit </th>
        <th> Roman Numeral </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${units.empty}">
        <td colspan="2"> No Config Code Available </td>
    </tr>
    <tr th:each="unit : ${units}">
        <td><span th:text="${unit.interGalacticUnitName}"> Code </span></td>
        <td><span th:text="${unit.romanNumeral}"> Roman Numeral </span></td>
    </tr>
    </tbody>
</table>
<form action="#" th:action="@{/dashboard}" th:object="${data}" method="post">
    <p>Input: <input type="text" th:field="*{input}"/>
    </p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    <div class="form-group">
        <div id="textBox"></div>
    </div>
</form>
</body>
</html>
